.item-4 .container {
    display: none;
}

.item-4 .row {
    padding-top: 160px;
}

.item-4 .title {
    -webkit-animation: flipInY 2s linear;
    animation: flipInY 2s linear;
}

.feature-item {
    text-align: center;
}

.feature {
    width: 140px;
    height: 140px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -70px;
    margin-top: -70px;
    margin-bottom: 20px;
}

.feature .tu {
    margin: 0 auto;
    width: 120px;
    height: 120px;
    border-width: 5px;
    border-style: solid;
    border-bottom-color: #FCF;
    border-right-color: #fcf;
    border-top-color: #FFF;
    border-left-color: #fff;
    border-radius: 150%;
    overflow: hidden;
    transition: ease 0.5s;
}

.feature .zi {
    position: relative;
    margin: 0 auto;
    top: -100px;
}

.zi p {
    font-size: 15px;
    font-weight: 500;
    color: #959095;
    text-align: center;
}

.feature:hover .tu {
    transform: rotate(360deg);
}

.feature-item .title {
    margin-top: -20px;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.feature-item .title:after {
    content: '';
    display: block;
    margin: 10px auto;
    height: 4px;
    width: 25px;
    background: #DC639B;
}

.feature-item .text {
    color: #000;
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 5px;
}

.item-4 .col-xs-4:nth-child(1) {
    animation: bounceIn 2s linear forwards;
    -webkit-animation: bounceIn 2s linear forwards;
}

.item-4 .col-xs-4:nth-child(2) {
    animation: bounceInRight 2s linear forwards;
    -webkit-animation: bounceInRight 2s linear forwards;
}

.item-4 .col-xs-4:nth-child(3) {
    animation: bounceInDown 2s linear forwards;
    -webkit-animation: bounceInDown 2s linear forwards;
}

.item-4 .col-xs-4:nth-child(4) {
    animation: bounceInLeft 2s linear forwards;
    -webkit-animation: bounceInLeft 2s linear forwards;
}

.clouds_one {
    background: url("../images/page-4/cloud.jpg");
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 300%;
    -webkit-animation: cloud_one 50s linear infinite;
    -moz-animation: cloud_one 50s linear infinite;
    -o-animation: cloud_one 50s linear infinite;
    animation: cloud_one 50s linear infinite;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.clouds_two {
    background: url("../images/page-4/cloud.jpg");
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 300%;
    -webkit-animation: cloud_two 75s linear infinite;
    -moz-animation: cloud_two 75s linear infinite;
    -o-animation: cloud_two 75s linear infinite;
    animation: cloud_two 75s linear infinite;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.clouds_three {
    background: url("../images/page-4/cloud.jpg");
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 300%;
    -webkit-animation: cloud_three 100s linear infinite;
    -moz-animation: cloud_three 100s linear infinite;
    -o-animation: cloud_three 100s linear infinite;
    animation: cloud_three 100s linear infinite;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

@-webkit-keyframes cloud_one {
    0% {
        left: 0
    }
    100% {
        left: -200%
    }
}

@-moz-keyframes cloud_one {
    0% {
        left: 0
    }
    100% {
        left: -200%
    }
}

@keyframes cloud_one {
    0% {
        left: 0
    }
    100% {
        left: -200%
    }
}

@-webkit-keyframes cloud_two {
    0% {
        left: 0
    }
    100% {
        left: -200%
    }
}

@-moz-keyframes cloud_two {
    0% {
        left: 0
    }
    100% {
        left: -200%
    }
}

@keyframes cloud_two {
    0% {
        left: 0
    }
    100% {
        left: -200%
    }
}

@-webkit-keyframes cloud_three {
    0% {
        left: 0
    }
    100% {
        left: -200%
    }
}

@-moz-keyframes cloud_three {
    0% {
        left: 0
    }
    100% {
        left: -200%
    }
}

@keyframes cloud_three {
    0% {
        left: 0
    }
    100% {
        left: -200%
    }
}
